{# La variable 'type_prise' et 'delete_route_name' sont passées lors de l'inclusion #}
<form method="post" action="{{ path('app_type_prise_delete', {'id': type_prise.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type de prise ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_prise.id) }}">
    <button class="btn btn-danger btn-sm">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
