{% block form_theme form with ['bootstrap_5_horizontal_layout.html.twig'] %}

{{ form_start(form) }}
  {{ form_row(form.commentaire, {
       label: 'Votre commentaire',
       attr: { rows: 4, placeholder: 'Observations, contraintes techniques…' }
  }) }}

  <div class="d-flex justify-content-end mt-3">
    <button class="btn btn-primary">
      <i class="bi bi-save me-1"></i> Enregistrer
    </button>
  </div>
{{ form_end(form) }}
