{# La variable 'type_vente' et 'delete_route_name' sont passées lors de l'inclusion #}
<form method="post" action="{{ path('app_type_vente_delete', {'id': type_vente.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce type de vente ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_vente.id) }}">
    <button class="btn btn-danger btn-sm">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
