{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau {{ entity_name_singular }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un nouveau {{ entity_name_singular }}</h1>

    {{ include('type_vente/_form.html.twig', {'form': form, 'button_label': 'Créer'}) }}

    <a href="{{ path(index_route_name) }}" class="btn btn-link mt-3">Retour à la liste</a>
</div>
{% endblock %}
