{% extends 'base.html.twig' %}

{# 
    Layout de base pour la section admin 
    Pattern appliqué: Template Method Pattern (patterns.md)
    Responsabilité: Structure commune pour toutes les pages admin
#}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {# Main content (pleine largeur) #}
        <main class="col-12 px-md-4">
            {% block admin_header %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">
                        {% block admin_title %}
                            {% if admin_icon is defined %}<i class="bi {{ admin_icon }} me-2"></i>{% endif %}
                            {{ admin_title|default('Administration') }}
                        {% endblock %}
                    </h1>
                    {% block admin_actions %}{% endblock %}
                </div>
            {% endblock %}

            {# Flash messages #}
            {% include 'admin/_components/flash_messages.html.twig' %}

            {# Page content #}
            {% block admin_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        main {
            margin-left: 0 !important;
        }
    </style>
{% endblock %} 